Register Page

<% if (error){ %>
    <div>
        <label><%= error %></label>
    </div>
<%}%>

<form action="/account/register" method="POST">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    <input type="email" name="email" value="<%=email%>">
    <input type="password" name="password" value="<%=password%>">
    <button type="submit">Register</button>
</form>