Edit page

<% if (error){ %>
    <div>
        <label><%= error %></label>
    </div>
<% } %>

<% if(successMessage){ %>
        <div class="alert">
            <label><%= successMessage %></label>
        </div>
    <% } %>

<div>
    <h2>Edit User</h2>
    <form action="edit?_method=PATCH" method="POST" enctype="multipart/form-data">
        <input type="email" name="email" value="<%=email%>">
        <br>
        <button type="submit">Submit</button>
    </form>
    <form action="edit?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
</div>