Index page

<% if(isConnected){ %>
    <label>Connected</label>
<% } %>

<% if(errorMessage){ %>
    <label><%=errorMessage%></label>
<% } %>

<a href="/login">login</a>
<a href="/register">register</a>
<a href="/edit">edit account</a>