Login page

<% if (errorMessage){ %>
    <div>
        <label><%= errorMessage %></label>
    </div>
<% } %>


<form action="/login" method="POST">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    <input type="email" name="emailLogin" value="<%=emailLogin%>">
    <input type="password" name="passwordLogin">
    <button type="submit">Login</button>
</form>