Register Page

<% if (errorMessage){ %>
    <div>
        <label><%= errorMessage %></label>
    </div>
<%}%>

<form action="register" method="POST">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    <input type="email" name="emailRegister" value="<%=emailRegister%>">
    <input type="password" name="passwordRegister">
    <select name="usertypeRegister">
        <option value="applicant">Applicant</option>
        <option value="loanOfficer">Loan Officer</option>
        <option value="admin">Admin</option>
    </select>
    <button type="submit">Register</button>
</form>