<body>
  <h1>Create loan</h1>

  <form action="/loan/new" method="POST">
    <label>Name :</label><br>
    <input type="text" name="name" required><br><br>

    <label>Amount :</label><br>
    <input type="number" name="amount" required><br><br>

    <button type="submit">Envoyer</button>
  </form>
</body>
</html>